<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Game2048.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>testCode.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1609D4541D3099D6007F3AF2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>161134421D2FDDCC00A08FB9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>161134561D2FDDCC00A08FB9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>161134611D2FDDCC00A08FB9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
